//선택한 체크 리스트에서 선택된 값을 바인딩한다.
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>vue 시작하기!</title>
        <script stc="https://cdn.jsdeliver.net/npm/vue"></script>
    </head>
    <body>
        <div id = "start">
            <div>
                <input type ="checkbox" value="1" v-model="checks">
                <label>1</label>
                <input type ="checkbox" value="2" v-model="checks">
                <label>2</label>
                <input type ="checkbox" value="3" v-model="checks">
                <label>3</label>
            </div>
            <h1>체크리스트 : {{ checks }}</h1>
        </div>

        <script type ="text/javascript">
        let app = new Vue({
            el : '#start',
            data () {
                return {
                    checks : []
                }
            }
        })
        </script>
    </body>
</html>