//라디오 버튼을 이용하여 값을 바인딩한다.
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>vue 시작하기!</title>
        <script stc="https://cdn.jsdeliver.net/npm/vue"></script>
    </head>

    <body>
        <div id = "start">
            <div>
                <input type ="radio" value="1" v-model="pick">
                <label>1</label>
                <input type ="radio" value="2" v-model="pick">
                <label>2</label>
                <input type ="radio" value="3" v-model="pick">
                <label>3</label>
            </div>
            <h1>선책 : {{ pick }}</h1>
        </div>

        <script type ="text/javascript">
        let app = new Vue({
            el : '#start',
            data () {
                return {
                    pick : ''
                }
            }
        })
        </script>
    </body>
</html>
